<div ng-app="stock" ng-controller="StockCtrl">
    <table class="table table-condensed">
        <tr>
            <th>Symbol</th>
            <th>Price</th>
            <th>Change</th>
            <th>Profit</th>
        </tr>
        <tr ng-repeat="stock in stocks">
            <td>{{stock.Symbol}}</td>
            <td>{{stock.LastPrice | currency}}</td>
            <td>{{stock.Change | currency}}</td>
            <td>{{stock.Profit | currency}}</td>
        </tr>
    </table>
</div>